---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
    <style>
        #map-container {
            width: 45%;   /* Set width to 300px */
            height: auto;  /* Set height to 200px */
            overflow: hidden;  /* Hide any content that overflows */
            position: relative;  /* Use relative positioning */
            margin-top: -120px; /* top/bottom margin 20, left/right auto */
            margin-bottom: 50px;
            margin-left: auto;
            margin-right: 450px;;
        }  
    </style>
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

    <div id="map-container">
        <script type='text/javascript' id='mapmyvisitors' src='https://mapmyvisitors.com/map.js?cl=0e1633&w=720&t=tt&d=BhRSPcnjUrTtTkCDdeVRXMqw6HyniCpx8JUB-8u8VAA&co=0b4975&cmo=3acc3a&cmn=ff5353&ct=cdd4d9'></script>
      
        <!--
        <script type="text/javascript" id="mapmyvisitors" src="https://mapmyvisitors.com/map.js?cl=0e1633&w=a&t=tt&d=BhRSPcnjUrTtTkCDdeVRXMqw6HyniCpx8JUB-8u8VAA&co=2c6aa0&cmo=3acc3a&cmn=ff5353&ct=cdd4d9"></script>
        -->
      
        <!--
        <script type='text/javascript' id='mapmyvisitors' src='https://mapmyvisitors.com/map.js?cl=2d34ad&w=a&t=tt&d=BhRSPcnjUrTtTkCDdeVRXMqw6HyniCpx8JUB-8u8VAA&co=2d71ad'></script>
        -->
    </div>

    
  </body>
</html>
