---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

    <style>
    #map-container {
        width: 300px;   /* Set width to 300px */
        height: 200px;  /* Set height to 200px */
        overflow: hidden;  /* Hide any content that overflows */
        position: relative;  /* Use relative positioning */
        top: 50px;  /* Position 50px from the top */
        left: 100px;  /* Position 100px from the left */
    }  
    </style>

    <div id="map-container">
        <script type='text/javascript' id='mapmyvisitors' src='https://mapmyvisitors.com/map.js?cl=2d34ad&w=a&t=tt&d=BhRSPcnjUrTtTkCDdeVRXMqw6HyniCpx8JUB-8u8VAA&co=2d71ad'></script>
    </div>

    
  </body>
</html>
